@import './home.scss';
@import './mixins.scss';
@import './profile.scss';


body {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Poppins', sans-serif !important
}

a {
    text-decoration: none;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
}