.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

    li {
        list-style: none;
        margin: 0 10px;
    }

    a {
        text-decoration: none;
    }

    .left__arrow {
        transform: rotate(180deg);
    }

    .links {
        margin-top: -3px;

        a {
            height: 25px;
        }
    }

    .active {
        background: #1976d2;
        font-size: 1.8rem;
        height: 30px;
        width: 30px;
    }

    .deactive {
        background: slategray;
        font-size: 1.8rem;
        height: 30px;
        width: 30px;
        pointer-events: none;
    }
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

// padding
@for $i from 1 through 10 {
    .p-#{$i} {
        padding: $i * 10px;
    }
}

@for $i from 1 through 10 {
    .pt-#{$i} {
        padding-top: $i * 10px;
    }
}

@for $i from 1 through 10 {
    .pe-#{$i} {
        padding-right: $i * 10px;
    }
}

@for $i from 1 through 10 {
    .ps-#{$i} {
        padding-left: $i * 10px;
    }
}

@for $i from 1 through 10 {
    .pb-#{$i} {
        padding-bottom: $i * 10px;
    }
}

.px-auto {
    padding-left: auto !important;
    padding-right: auto !important;
}

// margin
@for $j from 1 through 10 {
    .m-#{$j} {
        margin: $j * 10px;
    }
}

@for $j from 1 through 10 {
    .mt-#{$j} {
        margin-top: $j * 10px;
    }
}

@for $j from 1 through 10 {
    .me-#{$j} {
        margin-right: $j * 10px;
    }
}

@for $j from 1 through 10 {
    .ms-#{$j} {
        margin-left: $j * 10px;
    }
}

@for $j from 1 through 10 {
    .mb-#{$j} {
        margin-bottom: $j * 10px;
    }
}

.mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}